./._bicycle.jpg
./._CMakeLists.txt
./._convertmodel4.m
./._convertmodel5.m
./._COPYING.txt
./.git
./._HOGPyramid.cpp
./._HOGPyramid.h
./._INSTALL.txt
./._Intersector.h
./._JPEGImage.cpp
./._JPEGImage.h
./._LBFGS.cpp
./._LBFGS.h
./._Mixture.cpp
./._Mixture.h
./._Model.cpp
./._Model.h
./._models
./models/._aeroplane_2d.txt
./models/._aeroplane_3d.txt
./models/._aeroplane_init.txt
./models/._bicycle_2d.txt
./models/._bicycle_3d.txt
./models/._bicycle_init.txt
./models/._bird_2d.txt
./models/._bird_3d.txt
./models/._bird_init.txt
./models/._boat_2d.txt
./models/._boat_3d.txt
./models/._boat_init.txt
./models/._bottle_2d.txt
./models/._bottle_3d.txt
./models/._bottle_init.txt
./models/._bus_2d.txt
./models/._bus_3d.txt
./models/._bus_init.txt
./models/._car_2d.txt
./models/._car_3d.txt
./models/._car_init.txt
./models/._cat_2d.txt
./models/._cat_3d.txt
./models/._cat_init.txt
./models/._chair_2d.txt
./models/._chair_3d.txt
./models/._chair_init.txt
./models/._cow_2d.txt
./models/._cow_3d.txt
./models/._cow_init.txt
./models/._diningtable_2d.txt
./models/._diningtable_3d.txt
./models/._diningtable_init.txt
./models/._dog_2d.txt
./models/._dog_3d.txt
./models/._dog_init.txt
./models/._horse_2d.txt
./models/._horse_3d.txt
./models/._horse_init.txt
./models/._motorbike_2d.txt
./models/._motorbike_3d.txt
./models/._motorbike_init.txt
./models/._person_2d.txt
./models/._person_3d.txt
./models/._person_init.txt
./models/._pottedplant_2d.txt
./models/._pottedplant_3d.txt
./models/._pottedplant_init.txt
./models/._sheep_2d.txt
./models/._sheep_3d.txt
./models/._sheep_init.txt
./models/._sofa_2d.txt
./models/._sofa_3d.txt
./models/._sofa_init.txt
./models/._train_2d.txt
./models/._train_3d.txt
./models/._train_init.txt
./models/._tvmonitor_2d.txt
./models/._tvmonitor_3d.txt
./models/._tvmonitor_init.txt
./._Object.cpp
./._Object.h
./._Patchwork.cpp
./._Patchwork.h
./._README.txt
./._readmixture.m
./._Rectangle.cpp
./._Rectangle.h
./._Scene.cpp
./._Scene.h
./._SimpleOpt.h
./._test.cpp
./._train.cpp
./._viewmixture.m
./._writemixture.m
build
GPATH
GRTAGS
GTAGS
./.gitignore
